body { font-family: monospace }

img {
    width:100%;
    height:100%;
    page-break-after:always
}

pre{
   white-space: -moz-pre-wrap;
   white-space: -o-pre-wrap;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote{
    white-space: pre-wrap;
}
